* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: seashell;
}

div#main canvas {
    float: left;
}

div#palettes {
    margin: 10px;
}

div#palettes span {
    cursor: pointer;
    float: left;
    margin: 3px;
    width: 60px;
    height: 60px;
}

form {
    clear: both;
}

span:not(.selected) {
    border: 2px solid white;
}

span.selected {
    border: 2px solid black;
}

fieldset.displaying button {
    background-color: skyblue;
    border: 1px solid gray;
    height: 30px;
}
