div#object_segmentation canvas {
    float: left;
}

div#object_segmentation div {
    margin: 10px;
}

div#object_segmentation div span {
    cursor: pointer;
    float: left;
    margin: 3px;
    width: 60px;
    height: 60px;
}

div#object_segmentation div span:not(.selected) {
    border: 2px solid white;
}

div#object_segmentation div span.selected {
    border: 2px solid black;
}

div#object_segmentation form#layers {
    clear: both;
}

div#object_segmentation form#layers input {
    margin: 10px;
}
